header {
    text-align: center;
    background-color: grey;
    align-content: center;
}

main {
    display: flex;
}

.sidebar {
    flex: 1;
    justify-content: space-around;
}

.main {
    flex: 2;
}

